<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 pt-7 bg-light">
        <nav class="nav flex-column align-items-start ">
          <img class="mb-3 ms-2" src="./assets/images/logo-ANSWER.svg" alt="">
          <a class="nav-link nav-link-hover active d-flex align-items-center mb-3 " aria-current="page" href="#"><span class="material-icons me-3 ">
              assessment
            </span>Dashboard</a>
          <a class="nav-link nav-link-hover d-flex mb-3 "aria-current="page" href="#"><span class="material-icons me-3">
              question_answer
            </span>Question</a>
          <a class="nav-link nav-link-hover d-flex mb-3 "aria-current="page" href="Assignment.html"><span class="material-icons me-3">
              assignment
            </span>Assignment</a>
          <a class="nav-link nav-link-hover d-flex mb-3 "aria-current="page" href="#"><span class="material-icons me-3">
              video_library
            </span>Course</a>
          <a class="nav-link nav-link-hover d-flex mb-3 "aria-current="page" href="index.html"><span class="material-icons me-3">
              people
            </span>Admin</a>
          <a class="nav-link nav-link-hover d-flex mb-3 "aria-current="page" href="#"><span class="material-icons me-3">
              settings
            </span>Settings</a>
        </nav>
        <div class="p-card d-flex">
          <img class="andy ms-3" src="./assets/images/andychen.jpeg" alt="">
          <div class="text-item ms-4">
            <p class="fw-bold">Andy Chen</p>
            <p class="fw-light">andy0401@mail.com</p>
          </div>
          
        </div>

      </div>
      <!-- <div class="col-9"></div> -->
      <%- contents %>
    </div>
  </div>

 

    <footer class="footer">
      <!-- footer -->
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>